---
# == Compile ==
- name: Delete {{source_dir}}
  file: path={{source_dir}} state=absent

- name: Clone repo
  git: repo={{source_repo}}
    dest={{source_dir}}
    version={{marathon_version}}

# perhaps these three could be flags such as
# compile only, which would be useful
# for running as an integration test
# (reuse deployment scripts as a test itself)
- name: Maven Clean
  command: mvn clean chdir={{source_dir}}

- name: Maven Compile
  command: mvn compile chdir={{source_dir}}

- name: Maven Package
  command: mvn package chdir={{source_dir}}

# == Install ==
- name: Set permissions on {{target_jar_location}}
  file: path={{target_jar_location}} 
    state=file
    force=yes
    owner=root
    group=root
    mode=0655

- name: Copy {{target_jar_location}} marathon to {{install_jar}}
  command: cp {{target_jar_location}} {{install_jar}}
  notify: restart marathon
